<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body data-th-object="${po}">
    <h1>Delivery Details</h1>
    <table>
        <tr>
          <td>
            Order Number:
          </td>
          <td>
            <div>
                <p data-th-text="*{ordernumber}"></p>
            </div>
          </td>
        </tr>
        <tr>
            <td>
              Your order will be delivered to 
            </td>
            <td>
              <div>
                <p data-th-text="*{address}"></p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              Pizza cost:
            </td>
            <td>
              <div>
                <p data-th-text="*{pCost}"></p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              Rush:
            </td>
            <td>
              <div>
                <p data-th-text="*{rush}"></p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              Total cost:
            </td>
            <td>
              <div>
                <p data-th-text="*{totalcost}"></p>
              </div>
            </td>
          </tr>
    </table>
</body>
</html>