<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Order Delivery Details
    </h1>
    <form>
        <p>
            Name:
            <input type="text" th:field="*{name}" />
            <span
              data-th-if="${#fields.hasErrors('name')}"
              data-th-errors="*{name}"
            ></span>
        </p>
        <br />
        <p>
            Address:
            <input type="text" th:field="*{address}" />
            <span
              data-th-if="${#fields.hasErrors('address')}"
              data-th-errors="*{address}"
            ></span>
        </p>
        <br />
        <p>
            Phone:
            <input type="text" th:field="*{phone}" />
            <span
              data-th-if="${#fields.hasErrors('phone')}"
              data-th-errors="*{phone}"
            ></span>
        </p>
        <br />
        <p>
            Rush:
            <input type="checkbox" th:field="*{name}" />
            <span
              data-th-if="${#fields.hasErrors('name')}"
              data-th-errors="*{name}"
            ></span>
        </p>
        <br />
        <p>
            Comments:
            <input type="text" th:field="*{name}" />
            <span
              data-th-if="${#fields.hasErrors('name')}"
              data-th-errors="*{name}"
            ></span>
        </p>
        <br />

    </form>
</body>
</html>